html {
    height: 100%;
    margin: 0;
    padding: 0; 
    #font: arial; 
}
body {
    height 100%; 
    margin:0;
    padding: 0px; 
    z-index: -10; 
    
    opacity: 1;
    transition: 1s opacity; 
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.heading{
    position: absolute;
    top: 40px;
    left: -500px;
    width: 100%;
}

.heading span{
    color:white;
    font: bold 45px Helvetica;
    padding: 10px;
}

.headingQuote{
    position: absolute; 
    top: 500px;
    left: 1000px;
    width:30%; 
}

.headingQuote span{
    color:white;
    font: bold 35px Helvetica;
    padding: 10px;
}
.name {
    float: left; 
    padding-left: 10px;
    font-family: Velfo;
    margin-top: 0px;
    margin-bottom: 0px;
    color:darkgrey;
}

.name img{
    #padding-top:5pt;
    #width:130pt;
    #height:auto;
}

.logo {
    padding-top: 10px;
    float: left;
    width: 60px;
}

nav {
    float: right;
}

header::after {
    content: '';
    display: table;
    clear: both; 
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block; 
    #margin-left: 35px; 
    padding-top: 30px; 
    position: relative;
}

nav ul li a {
    color: #444; 
    text-decoration: none;
    text-transform: uppercase; 
}

nav a:hover {
    color:#000; 
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444; 
    
    top:0;
    width: 0%;
}

nav a:hover:before{
    width: 100%; 
}

.header{ 
    background-color: white;
    border-bottom: 5px solid black; 
    z-index: 2; 
}

.inner{
    width: 95%;
    margin: 0 auto;  
}
.profile {
    display:block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle; 
    border-radius: 50%;
    border-style: solid;
    height: 250px;
    width: auto;
}

.profile_section {
    padding-top: 25px;
    padding-bottom: 25px; 
    margin: auto; 
    width: 100%;
    #background-image: url("file:///C:/Users/Shawn/Desktop/Shawn%20web%20pic/background_photo.jpg"); 
    #background-size: 1600px; 
    #background-repeat: no-repeat; 
    #background-attachment: fixed; 
    background-color: tan;
   
}

.section1 {
    background-color: antiquewhite; 
    padding-top: 25px;
    padding-bottom: 25px; 
    margin: auto; 
    width: 100%;
    z-index: 1;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.top-container {
  position: relative; 
  text-align: left;
}

.top-container img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    height: 20%;
}


.sticky + .profile_section {
  padding-top: 120px;
}

.grad{
    width: 100%; 
}

.career{ 
    padding-top: 25px; 
    #padding-bottom: 0px; 
    margin: auto; 
    width: 100%;
    #background-image: url("file:///C:/Users/Shawn/Desktop/Shawn%20web%20pic/background_photo.jpg"); 
    #background-size: 1300px; 
    #background-repeat: no-repeat; 
    #background-attachment: fixed; 
    background-color: tan;
    vertical-align: middle; 
}

@media only screen and (max-width: 1525px) {
    .career{
        padding-bottom: 575px; 
    }
    .headingQuote{
    z-index: -100;  
}
}

@media only screen and (max-width: 920px) {
    .career{
        padding-bottom: 0px; 
    }
}

@media only screen and (max-width: 615px) {
    .career{
        padding-bottom: 0px; 
    }
   
}

.career h2{
    text-align: center; 
}


box-wrap{
    width:100%; 
    #height: 0px; 
    margin: 0 auto; 
    overflow: relative; 
    text-align: center; 
    
}

.image-box{
    width: 250px;
    height: 250px;
    #float: left;
    display: inline-block;
    overflow: hidden;
    position: relative; 
    margin: 0px 25px 25px 25px; 
    background: antiquewhite; 
    border-radius: 10%;
    #border: 1px solid #666;
    text-align: left; 
    
}
@font-face{
    font-family: Velfo;
    src:url("Shawn%20web%20pic/Velfo.otf");
    src:local('Velfo'),
        local('Velfo'),
        url('Velfo.otf') format('opentype'),
        url('Velfo.svg#font') format('svg');
}
.thumb_content{
    padding: 35px 15px 0 15px; color: black;
    text-align: center; 
    font-size: 15pt;
    font-family: Velfo; 
}

#box1{
    top: 0; 
    width: 250px; 
    height: 250px;
    position: absolute; 
    display: inline-block; 
    background: url("Shawn web pic/drone.png") no-repeat; 
    background-size: 400px;  
    
    -webkit-transition: top .3s ease-in-out; 
     -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


#box2{
    top: 0; 
    width: 250px; 
    height: 250px;
    position: absolute; 
    display: inline-block; 
    background: url("Shawn%20web%20pic/ecobot.jpg") no-repeat; 
    background-size: 270px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: top .3s ease-in-out; 
}

#box3{
    top: 0; 
    width: 250px; 
    height: 250px;
    position: absolute; 
    display: inline-block; 
    background: url("Shawn web pic/shieldX group photo.jpg") no-repeat; 
    background-size: 260px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: top .3s ease-in-out; 
}

#box4{
    top: 0; 
    width: 250px; 
    height: 250px;
    position: absolute; 
    display: inline-block; 
    background: url("Shawn%20web%20pic/community%20involvement.jpg") no-repeat; 
    background-size: 260px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: top .3s ease-in-out; 
}

#box5{
    top: 0; 
    width: 250px; 
    height: 250px;
    position: absolute; 
    display: inline-block; 
    background: url("Shawn web pic/me and ecobot.jpg") no-repeat; 
    background-size: 270px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: top .3s ease-in-out; 
}
.image-box:hover #box1 {
    top: -250px;
}

.image-box:hover #box2 {
    top: -250px;
}

.image-box:hover #box3 {
    top: -250px;
}
.image-box:hover #box4 {
    top: -250px;
}
.image-box:hover #box5 {
    top: -250px;
}
.footer-icon{
    #list-style:none;
    #margin: auto;
    display: inline-block;
    font-size: 30px;
    padding: 20px 20px;
    color: #fff;
    #border: 1px solid #fff;
    #border-radius: 25%;
    transition: .5s; 
}

.footer-icon a{
    text-decoration: none;
    color: #fff;
    transition: .5s; 
}

.footer-icon a:hover{
    text-decoration: none;
    color: #fff;
    transition: .5s; 
}

.text{
    margin: auto; 
    font-size: 20px; 
    width: 40%; 
    position: relative; 
    text-align: left; 
}

footer{
    background-color: dimgrey; 
    text-align: center; 
    position: absolute; 
    width: 100%;
    float: center;
}
.footer-icon:hover {
    color: #292929;
    #border: 1px solid #292929;
    transition: .5s; 
}



.text h2{
    float: center; 
}

@viewport {
    width: device-width;
    zoom: 1.0; 
}


#container {
    #min-height: 80%;
    text-align: center; 
}

#main {
    overflow: hidden;
}

.thumb_content a{
    text-decoration: none;
    color: darkgrey;
}

.thumb_content a:hover{
    color: black;
}

h2{
    #font-family: Velfo, Verdana;
    color:darkolivegreen;
}

p{
    text-align: left;
}



#.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block; text-align: left; }


.container1 {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 800px) {
  .text {
    width:90%;
    text-align:center;
  }
}

